<body>
  <!--header-->
  <!-- <header>
    <div class="container">

      <div class="logo">
        <h1><a href="">Dimbaya</a></h1>
      </div>
      <div *ngIf="!isLoggedIn" class="w3layouts-login">
         <a (click)="login()" style="cursor: pointer;"><i class="glyphicon glyphicon-user"> </i>Login/Register</a>
      </div>
      <div class="clearfix"></div>

    </div>
  </header> -->

  <!--//-->
  <div class=" header-right" *ngIf="!isLoggedIn">
    <div class="banner">
      <div class="slider">
        <div class="callbacks_container">
          <ul class="rslides" id="slider">
            <li>
              <div class="banner1 homebanner1">
                <div class="caption text-center">
                  <p class="headpara1">Get a coupon voucher on Mobile Recharge</p>
                  <p class="headpara2">Recharge quickly and stay connected with the people that matter most.</p>
                  <div class="form-group">
                    <div class="form-field">
                      <datalist  id="suggestions">
                        <ng-container *ngFor="let country of countrys">
                          <option >{{country.name}} (+{{country.callingCodes[0]}})</option>
                        </ng-container>
                        </datalist>
                        <img class="country-flag"  *ngIf="flag" src={{flag}}/>
                      <input (change)="onCountryChange($event)" placeholder="Select Country" class="form-control" type="text" autoComplete="on" list="suggestions">
                      <button (click)="goToPayments()"><i class="fa fa-check"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="banner2">
                <div class="caption">
                  <h3><span>50% off</span> on train Tickets</h3>
                  <p><a href="../../../assets/train.html">Book now</a></p>
                </div>
              </div>
            </li>
            <li>
              <div class="banner3">
                <div class="caption">
                  <h3><span>Flat Rs.200 Cash back</span> on Movie Tickets</h3>
                  <p><a href="../../../assets/movies.html">Book now</a></p>
                </div>
              </div>
            </li>
            <li>
              <div class="banner4">
                <div class="caption">
                  <h3><span>Upto Rs.125 Discount </span> & Flat 100% Money Back</h3>
                  <p><a href="../../../assets/bus.html">Book now</a></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <!--Vertical Tab-->
  <!-- <div *ngIf="isLoggedIn" class="categories-section main-grid-border" id="mobilew3layouts">
    <div class="container" #payment>
      <div class="category-list">
        <div id="parentVerticalTab">
          <div class="agileits-tab_nav">
            <ul class="resp-tabs-list  hor_1">
              <li class="listActive"><i class="iconActive fa fa-mobile" aria-hidden="true"></i>Mobile</li>
              <li class="listBox"><i class="icon fa fa-lightbulb-o" aria-hidden="true"></i>Electricity</li>
              <li class="listBox"><i class="icon fa fa-phone" aria-hidden="true"></i>Land Line</li>
              <li class="listBox"><i class="icon fa fa-connectdevelop" aria-hidden="true"></i>Broad Band</li>
              <li class="listBox"><i class="icon fa fa-flask" aria-hidden="true"></i>Gas</li>
              <li class="listBox"><i class="icon fa fa-tint" aria-hidden="true"></i>Water</li>
              <li class="listBox"><i class="icon fa fa-subway" aria-hidden="true"></i>Metro</li>
            </ul>
          </div>
          
          <div class="side-container">
             <div class="tabs-box">
            <app-signup-component></app-signup-component>
               
          </div>
         
          </div>


          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div> -->



  <script type="text/javascript">
    $(document).ready(function () {

      //Vertical Tab
      $('#parentVerticalTab').easyResponsiveTabs({
        type: 'vertical', //Types: default, vertical, accordion
        width: 'auto', //auto or any width like 600px
        fit: true, // 100% fit in a container
        closed: 'accordion', // Start closed if in accordion view
        tabidentify: 'hor_1', // The tab groups identifier
        activate: function (event) { // Callback function if tab is switched
          var $tab = $(this);
          var $info = $('#nested-tabInfo2');
          var $name = $('span', $info);
          $name.text($tab.text());
          $info.show();
        }
      });
    });
  </script>
  <!-- //Categories -->


  <!--phone-->
  <div class="phone" id="mobileappagileits">
    <div class="container">
      <div class="col-md-6">
        <img src="../../../assets/images/ph1.png" class="img-responsive" alt="" />
      </div>
      <div class="col-md-6 phone-text">
        <h4>Online Payment mobile app on your smartphone!</h4>
        <p class="subtitle">Simple and Fast Payments</p>
        <div class="text-1">
          <h5>Recharge</h5>
          <p>Recharge your Mobile, DTH, Datacard etc...</p>
        </div>
        <div class="text-1">
          <h5>Paybills</h5>
          <p>Pay your Bills(Electricity, Water, Gas, Broadband, Landline etc...)</p>
        </div>
        <div class="text-1">
          <h5>Book Online</h5>
          <p>Book Online Tickets(Movies, Bus, Train etc...)</p>
        </div>
        <div class="agileinfo-dwld-app">
          <h6>Download The App :
            <a href="#"><i class="fa fa-apple"></i></a>
            <a href="#"><i class="fa fa-windows"></i></a>
            <a href="#"><i class="fa fa-android"></i></a>
          </h6>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="wthree-mobile-app">
        <form action="#" method="get">
          <input class="text" type="tel" name="tel" placeholder="Enter Your Mobile Number" required="">
          <input type="submit" value="Send Download Link">
        </form>
      </div>
    </div>
  </div>
  <!--//phone-->


  <!-- Support content -->
  <div class="w3l-support">
    <div class="container">
      <div class="col-md-5 w3_agile_support_left">
        <img src="../../../assets/images/cus.jpg" alt=" " class="img-responsive" />
      </div>
      <div class="col-md-7 w3_agile_support_right">
        <h5>Dimbaya</h5>
        <h3>24/7 Customer Service Support</h3>
        <p>Pellentesque accumsan cursus dui, sodales blandit urna sodales vitae.
          Maecenas placerat eget mi vitae euismod. Duis aliquam efficitur mi,
          et eleifend velit.</p>
        <div class="agile_more">
          <a href="../../../assets/support.html" class="type-4">
            <span> Support </span>
            <span> Support </span>
            <span> Support </span>
            <span> Support </span>
            <span> Support </span>
            <span> Support </span>
          </a>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <!-- //Support content -->


  <!--offers-->
  <div class="w3-offers">
    <div class="container">
      <div class="w3-agile-offers">
        <h3>the best offers</h3>
        <p>Contrary to popular belief
          , Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
          making it over 2000 years old.</p>
      </div>
    </div>
  </div>
  <!--//offers-->

  <!--partners-->
  <div class="w3layouts-partners">
    <h3>We are accepted at</h3>
    <div class="container">
      <ul>
        <li><a href="#"><img class="img-responsive" src="../../../assets/images/lg.png" alt=""></a></li>
        <li><a href="#"><img class="img-responsive" src="../../../assets/images/lg1.png" alt=""></a></li>
        <li><a href="#"><img class="img-responsive" src="../../../assets/images/lg2.png" alt=""></a></li>
        <li><a href="#"><img class="img-responsive" src="../../../assets/images/lg3.png" alt=""></a></li>
        <li><a href="#"><img class="img-responsive" src="../../../assets/images/lg4.png" alt=""></a></li>
      </ul>
      <ul>
        <li><a href="#"><img class="img-responsive" src="../../../assets/images/lg5.png" alt=""></a></li>
        <li><a href="#"><img class="img-responsive" src="../../../assets/images/lg6.png" alt=""></a></li>
        <li><a href="#"><img class="img-responsive" src="../../../assets/images/lg7.png" alt=""></a></li>
        <li><a href="#"><img class="img-responsive" src="../../../assets/images/lg8.png" alt=""></a></li>
        <li><a href="#"><img class="img-responsive" src="../../../assets/images/lg9.png" alt=""></a></li>
      </ul>
    </div>
  </div>
  <!--//partners-->

  <!-- subscribe -->
  <div class="w3-subscribe agileits-w3layouts">
    <div class="container">
      <div class="col-md-6 social-icons w3-agile-icons">
        <h4>Join Us</h4>
        <ul>
          <li><a href="#" class="fa fa-facebook sicon facebook"> </a></li>
          <li><a href="#" class="fa fa-twitter sicon twitter"> </a></li>
          <li><a href="#" class="fa fa-google-plus sicon googleplus"> </a></li>
          <li><a href="#" class="fa fa-dribbble sicon dribbble"> </a></li>
          <li><a href="#" class="fa fa-rss sicon rss"> </a></li>
        </ul>
      </div>
      <div class="col-md-6 w3-agile-subscribe-right">
        <h3 class="w3ls-title">Subscribe to Our <br><span>Newsletter</span></h3>
        <form action="#" method="post">
          <input type="email" name="email" placeholder="Enter your Email..." required="">
          <input type="submit" value="Subscribe">
          <div class="clearfix"> </div>
        </form>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <!-- //subscribe -->

  <!--footer-->
  <footer>
    <div class="container-fluid">
      <div class="w3-agile-footer-top-at">
        <div class="col-md-2 agileits-amet-sed">
          <h4>Company</h4>
          <ul class="w3ls-nav-bottom">
            <li><a href="../../../assets/about.html">About Us</a></li>
            <li><a href="../../../assets/support.html">Support</a></li>
            <li><a href="../../../assets/sitemap.html">Sitemap</a></li>
            <li><a href="../../../assets/terms.html">Terms & Conditions</a></li>
            <li><a href="../../../assets/faq.html">Faq</a></li>
            <li><a href="#mobileappagileits" class="scroll">Mobile</a></li>
            <li><a href="../../../assets/feedback.html">Feedback</a></li>
            <li><a href="../../../assets/contact.html">Contact</a></li>
            <li><a href="../../../assets/shortcodes.html">Shortcodes</a></li>
            <li><a href="../../../assets/icons.html">Icons Page</a></li>

          </ul>
        </div>
        <div class="col-md-3 agileits-amet-sed ">
          <h4>Mobile Recharges</h4>
          <ul class="w3ls-nav-bottom">
            <li><a href="#mobilew3layouts" class="scroll">Airtel</a></li>
            <li><a href="#mobilew3layouts" class="scroll">Aircel</a></li>
            <li><a href="#mobilew3layouts" class="scroll">Vodafone</a></li>
            <li><a href="#mobilew3layouts" class="scroll">BSNL</a></li>
            <li><a href="#mobilew3layouts" class="scroll">Tata Docomo</a></li>
            <li><a href="#mobilew3layouts" class="scroll">Reliance GSM</a></li>
            <li><a href="#mobilew3layouts" class="scroll">Reliance CDMA</a></li>
            <li><a href="#mobilew3layouts" class="scroll">Telenor</a></li>
            <li><a href="#mobilew3layouts" class="scroll">MTS</a></li>
            <li><a href="#mobilew3layouts" class="scroll">Jio</a></li>
          </ul>
        </div>
        <div class="col-md-3 agileits-amet-sed ">
          <h4>DATACARD RECHARGES</h4>
          <ul class="w3ls-nav-bottom">
            <li><a href="#mobilew3layouts" class="scroll">Tata Photon</a></li>
            <li><a href="#mobilew3layouts" class="scroll">MTS MBlaze</a></li>
            <li><a href="#mobilew3layouts" class="scroll">MTS MBrowse</a></li>
            <li><a href="#mobilew3layouts" class="scroll">Airtel</a></li>
            <li><a href="#mobilew3layouts" class="scroll">Aircel</a></li>
            <li><a href="#mobilew3layouts" class="scroll">BSNL</a></li>
            <li><a href="#mobilew3layouts" class="scroll">MTNL Delhi</a></li>
            <li><a href="#mobilew3layouts" class="scroll">Vodafone</a></li>
            <li><a href="#mobilew3layouts" class="scroll">Idea</a></li>
            <li><a href="#mobilew3layouts" class="scroll">MTNL Mumbai</a></li>
            <li><a href="#mobilew3layouts" class="scroll">Tata Photon Whiz</a></li>
          </ul>
        </div>
        <div class="col-md-2 agileits-amet-sed">
          <h4>DTH Recharges</h4>
          <ul class="w3ls-nav-bottom">
            <li><a href="#mobilew3layouts" class="scroll"> Airtel Digital TV Recharges</a></li>
            <li><a href="#mobilew3layouts" class="scroll">Dish TV Recharges</a></li>
            <li><a href="#mobilew3layouts" class="scroll">Tata Sky Recharges</a></li>
            <li><a href="#mobilew3layouts" class="scroll">Reliance Digital TV Recharges</a></li>
            <li><a href="#mobilew3layouts" class="scroll">Sun Direct Recharges</a></li>
            <li><a href="#mobilew3layouts" class="scroll">Videocon D2H Recharges</a></li>
          </ul>
        </div>
        <div class="col-md-2 agileits-amet-sed ">
          <h4>Payment Options</h4>
          <ul class="w3ls-nav-bottom">
            <li>Credit Cards</li>
            <li>Debit Cards</li>
            <li>Any Visa Debit Card (VBV)</li>
            <li>Direct Bank Debits</li>
            <li>Cash Cards</li>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="w3l-footer-bottom">
      <div class="container-fluid">
        <div class="col-md-4 w3-footer-logo">
          <h2><a href="">ONLINE RECHARGE</a></h2>
        </div>
        <div class="col-md-8 agileits-footer-class">
          <p>© 2017 Online Recharge. All Rights Reserved | Design by <a href="http://w3layouts.com/"
              target="_blank">W3layouts</a> </p>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </footer>
  <!--//footer-->

  <!-- for bootstrap working -->
  <script src="../../../assets/js/bootstrap.js"></script>
  <!-- //for bootstrap working -->
  <!-- Responsive-slider -->
  <!-- Banner-slider -->
  <script src="../../../assets/js/responsiveslides.min.js"></script>
  <script>
    $(function () {
      $("#slider").responsiveSlides({
        auto: true,
        speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
  <!-- //Banner-slider -->
  <!-- //Responsive-slider -->
  <!-- Bootstrap select option script -->
  <script src="../../../assets/js/bootstrap-select.js"></script>
  <script>
    $(document).ready(function () {
      var mySelect = $('#first-disabled2');

      $('#special').on('click', function () {
        mySelect.find('option:selected').prop('disabled', true);
        mySelect.selectpicker('refresh');
      });

      $('#special2').on('click', function () {
        mySelect.find('option:disabled').prop('disabled', false);
        mySelect.selectpicker('refresh');
      });

      $('#basic2').selectpicker({
        liveSearch: true,
        maxOptions: 1
      });
    });
  </script>
  <!-- //Bootstrap select option script -->

  <!-- easy-responsive-tabs -->
  <!-- <link rel="stylesheet" type="text/css" href="../../../assets/css/easy-responsive-tabs.css" /> -->
  <script src="../../../assets/js/easyResponsiveTabs.js"></script>
  <!-- //easy-responsive-tabs -->
  <!-- here stars scrolling icon -->
  <script type="text/javascript">
    $(document).ready(function () {
      /*
        var defaults = {
        containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
        };
      */

      $().UItoTop({ easingType: 'easeOutQuart' });

    });
  </script>
  <!-- start-smoth-scrolling -->
  <script type="text/javascript" src="../../../assets/js/move-top.js"></script>
  <script type="text/javascript" src="../../../assets/js/easing.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      $(".scroll").click(function (event) {
        event.preventDefault();
        $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
      });
    });
  </script>
  <!-- start-smoth-scrolling -->
  <!-- //here ends scrolling icon -->
</body>