<div class="container">
  <form class="credit-card" [formGroup]="paymentForm">
    <div class="form-header">
      <h4 class="title">Credit card detail</h4>
    </div>

    <div class="form-body">
      <!-- Card Number -->
      <input type="text"  numbersOnly 
      [ngClass]="checkFieldValid('cardNumber')"
      maxlength="16"
      minlength="16"
      class="card-number" placeholder="Card Number" formControlName="cardNumber">
      <span *ngIf="checkMinMaxError('cardNumber')" style="color: red">
          Card Number should be atleast {{paymentForm.get('cardNumber').errors.minlength.requiredLength}} digits .
          </span>
      <!-- Date Field -->
      <div class="date-field">
        <div class="month">
          <select name="Month"
           [ngClass]="checkFieldValid('expiryMonth')"
             formControlName="expiryMonth">
            <option value="january">January</option>
            <option value="february">February</option>
            <option value="march">March</option>
            <option value="april">April</option>
            <option value="may">May</option>
            <option value="june">June</option>
            <option value="july">July</option>
            <option value="august">August</option>
            <option value="september">September</option>
            <option value="october">October</option>
            <option value="november">November</option>
            <option value="december">December</option>
          </select>
        </div>
        <div class="year">
          <select name="Year"
          [ngClass]="checkFieldValid('expiryYear')"
            formControlName="expiryYear">
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
          </select>
        </div>
      </div>

      <!-- Card Verification Field -->
      <div class="card-verification">
        <div class="cvv-input">
          <input type="text" 
          [ngClass]="checkFieldValid('cvv')"
          minlength="3"
          maxlength="4"
          placeholder="CVV" formControlName="cvv">
          <span *ngIf="checkMinMaxError('cvv')" style="color: red">
              CVV Number should be atleast {{paymentForm.get('cvv').errors.minlength.requiredLength}} digits .
              </span>
        </div>
        <div class="cvv-details">
          <p>3 or 4 digits usually found <br> on the signature strip</p>
        </div>
      </div>

      <!-- Buttons -->
      <button type="submit" class="proceed-btn" (click)="proceed()">Proceed</button>
      <button type="button" class="btn btn-danger-lg" (click)="back()">Back</button>
      <!-- <button type="submit" class="paypal-btn"><a href="#">Pay With</a></button> -->
    </div>
  </form>
</div>