<div class="container-contact100">
  <div class="wrap-contact100">
    <form class="contact100-form validate-form">
    <div class="wrap-input100 validate-input bg1">
        <input type="radio">	<span class="label-input100 border-ri">
        <img src="../../../assets/images/visa.png" width="35px;" style="margin-right:10px;"></span>
        <div class="right-side">
        <!--<i class="fa fa-cc-visa" aria-hidden="true" style="padding-right:25px;"></i>
        <i class="fa fa-cc-mastercard" aria-hidden="true"></i>-->
        <i class="fa fa-trash" aria-hidden="true" style="font-size: 20px;color: #ff5ed9;"></i></div>
      </div>
      
      
      <span class="contact100-form-title">
      <p>or</p>
      </span>
      
      <div class="wrap-input100 validate-input bg1">
        <input type="radio">	<span class="label-input100">Card</span>
        <div class="right-side">
        <!--<i class="fa fa-cc-visa" aria-hidden="true" style="padding-right:25px;"></i>
        <i class="fa fa-cc-mastercard" aria-hidden="true"></i>-->
        <img src="../../../assets/images/visa.png" width="35px;" style="margin-right:10px;"><img src="../../../assets/images/Master.png" width="30px;"></div>
      </div>
<div class="wrap-input100 validate-input bg1">
        <input type="radio">	<span class="label-input100">PayPal</span>
        <div class="right-side">
        <img src="../../../assets/images/paypal.png" width="30px;"></div>
      </div>
<div class="wrap-input100 validate-input bg1">
        <input type="radio">	<span class="label-input100">American Express</span>
        <div class="right-side">
        <img src="../../../assets/images/american.png" width="30px;"></div>
      </div>
      <div class="wrap-input100 validate-input bg1">
        <input type="radio">	<span class="label-input100">AliPay</span>
        <div class="right-side">
        <img src="../../../assets/images/alipay.png" width="55px;"></div>
      </div>
      <div class="wrap-input100 validate-input bg1">
        <input type="radio">	<span class="label-input100">AliPay</span>
        <div class="right-side">
        <img src="../../../assets/images/alipay.png" width="55px;"></div>
      </div>
      <div class="wrap-input100 validate-input bg1 text-center">
       <p>iDeal</p>
      </div>
    </form>
  </div>
</div>