.inputClass {
  margin: 0 5px;
  text-align: center;
  line-height: 80px;
  font-size: 50px;
  border: solid 1px #ccc;
  box-shadow: 0 0 5px #ccc inset;
  outline: none;
  width: 20%;
  transition: all .2s ease-in-out;
  border-radius: 3px;
}
.inputClass :focus {
    border-color: purple;
    box-shadow: 0 0 5px purple inset;
  }
  
  .inputClass::selection {
    background: transparent;
  }
/* 
  @media (max-width: 400px)  {.mat-dialog-container {
    padding: 15px !important;
}}

   */
