
<div class="modal-body">
    <mat-icon style="cursor: pointer;" class="float-right pointer" (click)="closeDialog('cancel')">close</mat-icon>
    <div class="row">
        <div>
            <!-- Nav tabs -->
            <h3 class="other-nw" style="text-align: center; padding-bottom: 10px;">
                Welcome to Dimbaya</h3>

            <!-- Tab panes -->
            <div>
                <div style="padding-bottom: 20px;" id="Login" *ngIf="!otpSend; else elseBlock">
                    <form class="form-group" [formGroup]="loginModalForm">    
                        <div class="row">        
                        <div class="col-sm-12">
                                <ngx-intl-tel-input 
                                [cssClass]="'custom'" class="input-group" style="display: block;width: 100%;"
                                [preferredCountries]="preferredCountries"
                                [enableAutoCountrySelect]="false" 
                                [enablePlaceholder]="true" 
                                [searchCountryFlag]="true"
                                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                [selectFirstCountry]="true" 
                                [selectedCountryISO]="selectedCountryISO"
                                [maxLength]="maxLengthDigits"
                                [tooltipField]="TooltipLabel.Name" 
                                [phoneValidation]="true" 
                                [separateDialCode]="true"      
                                name="mobileNumber" formControlName="mobileNumber">
                              </ngx-intl-tel-input>
                              <span style="color: red">
                                <small *ngIf="!loginModalForm.get('mobileNumber').errors?.required && loginModalForm.get('mobileNumber').errors && !loginModalForm.get('mobileNumber').errors?.validatePhoneNumber?.valid && loginModalForm.get('mobileNumber').touched">Enter Valid Mobile Number</small>
                                <small *ngIf="loginModalForm.get('mobileNumber').errors?.required && loginModalForm.get('mobileNumber').touched">Mobile Number is Required.</small>
                              </span>    
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-10" style="padding-top: 20px;">
                                <button type="submit" class="submit btn btn-primary btn-sm"
                                    style="padding: 0.25rem 5.5rem;" (click)="loggedIn()">
                                    Log In</button>
                            </div>

                        </div>
                    </form>
                </div>
                <ng-template #elseBlock>
                    <div style="padding-bottom: 20px;" id="Verify">
                        <form [formGroup]="otpForm">
                        <div id="wrapper">
                            <div id="dialog">
                              <p>Please enter the 4-digit verification code we sent via SMS:</p>
                              <span>(we want to make sure it's you before we contact our movers)</span>
                              <div>
                                <input formControlName="key1" numbersOnly type="text" (keyup)="moveCursor($event)" style="width: auto;" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                                <input formControlName="key2" numbersOnly type="text" (keyup)="moveCursor($event)" style="width: auto;" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                                <input formControlName="key3" numbersOnly type="text" (keyup)="moveCursor($event)" style="width: auto;" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                                <input formControlName="key4" numbersOnly type="text"  style="width: auto;" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                                <button type="button" (click)="validLogin()" class="btn btn-primary btn-embossed">Verify</button>
                              </div>
                              
                              <div>
                                Didn't receive the code?<br />
                                <a href="#">Send code again</a><br />
                                <a href="#">Change phone number</a>
                              </div>
                               <!-- <img src="http://jira.moovooz.com/secure/attachment/10424/VmVyaWZpY2F0aW9uLnN2Zw==" alt="test" /> -->
                            </div>
                          </div>
                        </form>
                    </div>
                </ng-template>

                <mat-divider></mat-divider>
                <div class="row text-center sign-with">
                    <div class="col-md-12" style="padding-top: 15px;">
                        <h2 class="other-nw">
                            Sign in with</h2>
                    </div>
                    <div class="col-md-12">
                        <div class="btn-group btn-group-justified">
                            <a href="http://ec2-3-136-169-121.us-east-2.compute.amazonaws.com:7000/api/auth/facebook" class="btn btn-primary">Facebook</a> 
                            <a href="http://ec2-3-136-169-121.us-east-2.compute.amazonaws.com:7000/api/auth/google" class="btn btn-danger">
                                Google +</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    