<header>
  <div class="container-fluid">
      <div class="logo">
          <a href="#">Dimbaya</a>
      </div>
      <div class="header-link" *ngIf="isUserAvailabe">
          <ul>
              <li>
                  <a href="#">
                      <i class="fa fa-user" aria-hidden="true"></i>
                  </a>
                  <ul >
                      <li><a >Profile</a></li>
                      <li><a  (click)="logout()">Logout</a></li>
                  </ul>
              </li>
          </ul>
      </div>
  </div>
</header>