
body{
    font-family: 'Roboto', sans-serif;
}
input {
    width: 100%;
    padding: 1em;
    line-height: 1.4;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    transition: all;
    padding: 1rem;
}
#mobile-number{
    padding: 1rem 6px 1rem 98px;
}

*,
*:after,
*:before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
    .col-md-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-md-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-md-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-md-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-md-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-md-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-md-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-md-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-md-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-md-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-md-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-md-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
}
  
  

.intl-tel-input {
    /* margin: 10px; */
    font-size: 14px;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    color: #333;
}
.intl-tel-input input {
    /* width: 250px; */
    border: 1px solid #CCC;
    font-family: inherit;
    font-size: 100%;
    font-size: 16px;
    color: inherit;
}
.form-group{
    margin-bottom: 20px;
}

/* button styling */

.btn {
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}
.btn:hover {
    color: #212529;
    text-decoration: none;
}
  
.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
  
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.facebook-btn{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.facebook-btn:hover{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.google-btn{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.google-btn:hover{
    color: #fff;
    background-color: #c40c1d;
    border-color: #c40c1d;
}

/* Modal Styling */
.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.modal-overlay {
    background: rgba(0, 0, 0, 0.32);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.modal-content {
    padding: 2.5rem;
    background: #fff;
    border-radius: 5px;
    width: 100%;
    max-width: 450px;
    position: relative;
}
.modal-content h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.2;
}
.modal-content h3{
    font-size: 1.75rem;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-weight: 500;
    padding: 0 20px;
    text-align: center;
}
.modal-content p {
    margin-bottom: 1rem;
}
.modal-content form .btn{
    padding: 0.375rem 3rem;
}
.modal-content .close{
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 2rem;
    opacity: 0.7;
    cursor: pointer;
}
.country-code-dropdown{
    text-align: center;
}
.signup-option{
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.btn-wrapper .btn{
    margin: 0 10px;
}

.otp-wrapper{
    display: flex;
    justify-content: space-between;
}
.otp-wrapper input{
    width: 60px;
    height: 60px;
    font-size: 18px;
}
.resend-btn-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.resend-btn-wrapper a{
    text-decoration: none;
}
/* Page 3 styling */

.logo a {
    color: #fff905;
    font-size: 2em;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.1;
    padding-top: 12px;
    padding-bottom: 12px;
    display: block;
}

header .container-fluid {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 100;
}
.header-link {
    justify-content: flex-end;
}
.header-link ul{
    list-style: none;
}
.header-link ul li{
    position: relative;
} 
.header-link ul li a{
    color: #fff905;
    text-decoration: none;
    padding: 20px 12px;
    display: block;
} 
.header-link ul li ul{
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    right: 0;
    top: 100%;
    min-width: 180px;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
} 
.header-link ul li:hover > ul{
    opacity: 1;
    visibility: visible;
}
.header-link ul li ul li a{
    padding: 12px;
    border-top: 1px solid;
    text-align: right;
    transition: all 0.3s;
} 
.header-link ul li ul li:hover > a{
    background: rgba(255, 255, 255, 0.3);
} 
.header-link ul li ul li:first-child a{
    border-top-width: 2px;
} 
.resp-tabs-list{
    
}
.resp-tabs-list .custom-dropdown{
    display: none;
}
.resp-tabs-list li {
    display: block;
}
.resp-tabs-list a{
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    float: none;
    border: 1px solid rgb(241, 241, 241);
    background-color: #ffffff;
    text-decoration: none;
    color: #333;
    display: block;
}
.resp-tabs-list li + li a{
    border-top: none;
}
.resp-tabs-list .active > a,
.resp-tabs-list li:hover > a{
    background-color: #fff905;
}
.resp-tabs-list a i{
    color: #000000;
    margin-right: 20px;
    padding: 15px 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    border-right: 1px solid rgb(241, 241, 241);
}
.resp-tabs-list .active > a i,
.resp-tabs-list li:hover > a i{
    color: #fff905;
    background: black;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
  
@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
}  
@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
}  
@media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
}  
@media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
}
@media (max-width: 991px) {
    .resp-tabs-list  a{
        font-size: 16px;
        letter-spacing: 1px;
    }
    .resp-tabs-list  a i{
        margin-right: 12px;
        padding: 12px 10px;
        width: 45px;
        height: 45px;
    }
}
@media (max-width: 767px){
    html{
        font-size: 14px;
    }
    .modal-content{
        width: calc(100vw - 30px);
        padding: 25px 15px;
    }
    .modal-content h3{
        font-size: 1.5rem;
    }
    .modal-content .close{
        top: 15px;
        right: 15px;
        line-height: 25px;
    }
    .resp-tabs-list {
        position: relative;
    }
    .resp-tabs-list .custom-dropdown{
        display: block;
    }
    .resp-tabs-list > ul{
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
    }
}


.w3layouts-login{
    float:right;
    display: flex;
    align-items: center;
}

.w3layouts-login a{
    display: block;
    letter-spacing: 2px;
    font-size: 13px;
    color: #fff905;
    text-decoration: none;
    margin: 0 0.3em;
}