.input-group>.input-group-prepend {
    min-width:15%;
    text-align:center;
}

.input-group .input-group-text {
    min-width:100%;
    text-align:center;
    align-items: center;
    display: flex;
    justify-content: center;
}