.input-group>.input-group-prepend {
    min-width:15%;
    text-align:center;
}
.input-group>.country-flag-wrapper ~ input {
    height: 100%;
}

.input-group .input-group-text {
    min-width:100%;
    text-align:center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.country-flag-wrapper .country-flag{
    transform: none;
    position: static;
}